body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: url('../Assets/signup.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: sans-serif;
}
.container
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 480px;
	border-radius: 5px;
	box-sizing: border-box;
	overflow: hidden;
}
.signIn
{
	position: relative;
	width: 100%;
	height: 50px;
	background: linear-gradient(45deg,#de6161,#2657eb);
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
.fold
{
	position: relative;
	width: 100%;
	height: 480px;
	background: transparent;
	transform-origin: top;
	padding: 30px 20px;
	box-sizing: border-box;
	perspective: 2000px;
}

.fold form input[type="text"],
.fold form input[type="password"]
{
	width: 100%;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 40px;
	box-shadow: none;
	outline: none;
	color: white;
	background: transparent;
	border: 1px solid #fff;
}
input[type="text"]::placeholder{
	color: white;
}
input[type="password"]::placeholder{
	color: rgb(0, 0, 0);
}

.fold form input[type="password"]{
	color: rgb(0, 0, 0);
	background: transparent;
	border: 1px solid #000000;
	filter: invert(91%) sepia(82%) saturate(0%) hue-rotate(60deg) brightness(117%) contrast(101%);
}


.fold form input[type="submit"]
{
	font-weight: bolder;
	width: 100%;
	display: block;
	padding: 10px 20px;
	border-radius: 40px;
	box-shadow: none;
	border: none;
	outline: none;
	cursor: pointer;
	background: white;
	color: #000000;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
.fold form input[type="submit"]:hover
{
	background: linear-gradient(45deg,#062da0,#8e91e7);
}
.fold form .a
{
	color: #fff;
	margin-top: 20px;
	display: block;
	font-size: 14px;
	text-align: right;
	text-decoration: none;
	font-weight: bold;
}
.fold h5
{
	margin: 0;
	padding: 20px 0 0 0;
	text-align: center;
	color: #fff;
}
.fold h4
{
	margin: 0;
	padding: 30px 0 0 0;
	text-align: center;
	color: #fff;
}
.fold h4 a
{
	text-decoration: none;
	color: #BE5869;
}

ul
{
	margin: 0;
	padding: 0;
	display: flex;
}
ul li
{
	position: relative;
	list-style: none;
	float: left;
	top: 10px;
	left: 70px;
	margin: 18px;
	width: 50px;
	height: 50px;
	background: #fff;
	text-align: center;
	border: 4px solid #2196f3;
	box-sizing: border-box;
	border-radius: 50%;
	transition: .5s;
	overflow: hidden;
}
ul li:hover:nth-child(1)
{
	background: linear-gradient(45deg,#2657eb,#de6161);
}
ul li:hover:nth-child(2)
{
	background: linear-gradient(45deg,#2657eb,#de6161);
}
ul li .fa
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	color: #2196f3;
	transition: .5s;
}
h4{
	color: white;
	font-size: 470%;
	font-weight: bolder;
	margin-top: 50px;
}
p{
	color: white;
}
#icons{
	background-image: url(../Assets/person.png);
	background-repeat: no-repeat;
	background-position: 238px 5px;
	background-size: 25px;
}
input::placeholder{
	color: white;
}